@media only screen and (max-width: 768px) {
  .linkblock{
    top: 30%;
    right:5px;
    position:absolute;
  }
  #displaypicture {
    display: block;
    max-width:200px;
    top: 30%;
    right: 50%;
    max-height:200px;
    position: absolute;
    width: auto;
    height: auto;
    float: left;
  }
  .footer {
    position: fixed;
    font-size: 8px;
    left: 0;
    bottom: 0;
    text-align: left;
  }
}
@media only screen and (min-width: 768px) {
  .linkblock{
    top: 30%;
    right:45%;
    position:absolute;
  }
  #displaypicture {
    display: block;
    max-width:200px;
    top: 30%;
    right: 60%;
    max-height:200px;
    position: absolute;
    width: auto;
    height: auto;
    float: left;
  }
}

#mainblock{
  padding:20px;
  margin-top:1in;
}
.footer {
  position: fixed;
  font-size: 8px;
  left: 0;
  bottom: 0;
  text-align: left;
}
